
<div class="pages ">
    <div data-page="play-list" class="page">
    <div class="page-content">
        <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
            <div class="searchbar-input">
              <input type="search" id="searchkey" name="searchkey" placeholder="单曲/歌手/专辑/歌单/用户"><a href="#" class="searchbar-clear"></a>
            </div><a href="#" class="searchbar-cancel">取 消</a>
        </form>
        <div class="list-block">
        {% if data['current'] %}
            <center><img class="album-pic logo" src="{{ data['current']['album_pic'] }}" /></center>

            <ul>
                <li>
                    <div class="">
                        <div class="item-content">
                            <div class="item-inner"> 
                                <div class="item-title glyphicon glyphicon-bookmark">
                                    <a href="#" id="start-play" class="button button-fill color-green left">开始播放</a>
                                    <a href="#" id="pause-play" class="button button-fill color-red left margin-left">暂停播放</a>
                                    <a href="#" id="play-next" class="button button-fill left margin-left">播放下一首</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <div class="item-content">
                            <div class="item-inner"> 
                                <div class="item-title glyphicon glyphicon-bookmark">
                                    音量： <input class="set-volume" type="range" min="0" max="1" value="1" step="0.1">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li>
                    <div class="">
                        <div class="item-content">
                            <div class="item-inner"> 
                                <div class="item-title glyphicon glyphicon-bookmark"> 当前播放 ：{{ data['current']['name'] }}</div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="">
                        <div class="item-content">
                            <div class="item-inner"> 
                                <div class="item-title glyphicon glyphicon-time"> 曲长 ：{{ data['current']['duration']/60000 }}' 0''</div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="">
                        <div class="item-content">
                            <div class="item-inner"> 
                                <div class="item-title glyphicon glyphicon-user"> 歌手 ：{{ data['current']['artists'] }}</div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="">
                        <div class="item-content">
                            <div class="item-inner"> 
                                <div class="item-title glyphicon glyphicon-list-alt"> 专辑 ：{{ data['current']['album_name'] }}</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        {% else %}
            <h2>请先去搜索添加歌曲</h2>
        {% end %}
        </div>

        <h2>已点歌曲列表（<a href="javascript:" id="reload-play-list">刷新本页面</a>）</h2>
            <div class="list-block">
                <ul id="play-list">
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">歌曲</div>
                                <div class="item-after">歌手</div>
                            </div>
                        </div>
                    </li>
                    {% for item in data['list'] %}
                    <li>
                        <a href="/song.html?sid={{ item['sid'] }}" class="item-link">
                            <div class="item-content">
                                <div class="item-inner"> 
                                    <div class="item-title">{{ item['name'] }}</div>
                                    <div class="item-after">{{ item['artists'] }}</div>
                                </div>
                            </div>
                        </a>
                   {% end %}
                    </li>
                </ul>
            </div>
    </div>
    </div>
</div>


